<a href="https://colab.research.google.com/github/NeanderDanubio26827/BaseDeDadosTitanic/blob/main/kNN_e_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aprendizado Baseado em Instâncias

[![made-with-python](https://img.shields.io/badge/Made%20with-Python-1f425f.svg)](https://www.python.org/)  [![made-with-latex](https://img.shields.io/badge/Made%20with-LaTeX-1f425f.svg)](https://www.latex-project.org/) 

[![ForTheBadge built-with-love](http://ForTheBadge.com/images/badges/built-with-love.svg)](https://GitHub.com/Naereen/) [![ForTheBadge built-with-science](http://ForTheBadge.com/images/badges/built-with-science.svg)](https://GitHub.com/Naereen/)

<a href="http://petroniocandido.github.io">Prof. Dr. Petrônio Cândido de Lima e Silva</a> <span itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0002-1202-2552" href="https://orcid.org/0000-0002-1202-2552" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon"></a></span> (petronio.candido@ifnmg.edu.br)

$\{ci\partial ic\}$ - Grupo de Pesquisa em Ciência de Dados e Inteligência Computacional

IFNMG - Instituto Federal de Educação, Ciência e Tecnologia do Norte de Minas Gerais



<center>
  <table><tr>
<td><a href="http://cidic.ifnmg.edu.br/wordpress/"><img src="https://avatars1.githubusercontent.com/u/54992196?s=400&u=4c96d4fc0560b6957233f1dd91a9560de4a054b2&v=4" alt="{cidic} - Grupo de Pesquisa em Ciência de Dados e Inteligência Computacional" width="100"/></a></td> 

 <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  
<td>
   <a href="http://www.ifnmg.edu.br/"><img src="https://github.com/petroniocandido/PhdThesis/raw/master/figures/ifnmg.jpg" alt="IFNMG - Instituto Federal do Norte de Minas Gerais" width="100"/></a></td>
</tr>
</table>
</center>

[![licensebuttons by-nc-sa](https://licensebuttons.net/l/by-nc-sa/3.0/88x31.png)](https://creativecommons.org/licenses/by-nc-sa/4.0)

## Importações comuns

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Dados Titanic

O dataset Titanic contém 5 atributos (Nome, Classe, Idade, Sexo, Sobreviveu) com 1313 instâncias, cada uma representando um dos passageiros ou tripulantes do <a href="https://pt.wikipedia.org/wiki/RMS_Titanic">RMS Titanic</a> que naufragou no Oceano Atlântico em  15 de abril de 1912.

Com esses dados queremos inferir se uma determinada pessoa sobreviveu ou não ao naufrágio( $y = \{$Sobreviveu$\}$ ), usando como base os atributos descritivos $x = \{$Classe, Idade, Sexo$\}$. Logo o problema em questão é de Classificação, e o atributo alvo Sobreviveu contém apenas duas classes: 1, se a pessoa sobreviveu e 0, se a pessoa não sobreviveu.

### Carregamento dos dados

In [ ]:
df = pd.read_csv('https://query.data.world/s/c2ixg24yogu6pgudqodbhn5ynrvdjr')
df.head()

                                            Nome  Classe  ...  Sexo Sobreviveu
0                   Allen, Miss Elisabeth Walton     1.0  ...     F          1
1                    Allison, Miss Helen Loraine     1.0  ...     F          0
2            Allison, Mr Hudson Joshua Creighton     1.0  ...     M          0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)     1.0  ...     F          0
4                  Allison, Master Hudson Trevor     1.0  ...     M          1

[5 rows x 5 columns]

In [ ]:
len(df.index)

1313

### Criando o atributo 'FaixaEtaria'

A fim de simplificar nossas análises, vamos discretizer o atributo numério *Idade*, transformando-o em no atributo categórico *FaixaEtaria*, contendo as seguintes classes conforme o intervalo de idades:

* 0-10: Criança
* 11-18: Jovem
* 19-50: Adulto
* +50: Idoso
* Não Conhecida

In [ ]:
df['Idade'].unique()

array([29.  ,  2.  , 30.  , 25.  ,  0.92, 47.  , 63.  , 39.  , 58.  ,
       71.  , 19.  ,   nan, 50.  , 24.  , 36.  , 37.  , 26.  , 28.  ,
       45.  , 22.  , 41.  , 48.  , 44.  , 59.  , 60.  , 53.  , 33.  ,
       14.  , 11.  , 49.  , 46.  , 27.  , 31.  , 64.  , 55.  , 70.  ,
       69.  , 38.  , 17.  ,  4.  , 23.  , 35.  , 54.  , 21.  , 52.  ,
       16.  , 51.  , 42.  , 40.  , 15.  , 65.  , 18.  , 56.  , 43.  ,
       61.  , 13.  , 34.  ,  6.  , 57.  , 32.  , 62.  , 67.  , 20.  ,
        1.  , 12.  ,  0.83,  8.  ,  7.  ,  3.  ,  0.8 ,  9.  ,  5.  ,
        0.33,  0.17, 10.  ,  1.5 ])

In [ ]:
# Função que transforma uma idade em uma faixa etária.

def faixa_etaria(idade):
  if idade == np.nan:
    return 'NaoConhecida'
  elif 0.0 <= idade <= 10.0:
    return 'Crianca'
  elif 11.0 <= idade <= 18.0:
    return 'Jovem'
  elif 19.0 <= idade <= 50.0:
    return 'Adulto'
  else:
    return 'Idoso'

faixa_etaria(24.13)

'Adulto'

In [ ]:
# Criando o atributo faixa etária e associando à ele uma 
# lista com os valores de faixa etária para cada valor de idade
 
df['FaixaEtaria'] = [faixa_etaria(k) for k in df['Idade'].values]

In [ ]:
df.head()

                                            Nome  ...  FaixaEtaria
0                   Allen, Miss Elisabeth Walton  ...       Adulto
1                    Allison, Miss Helen Loraine  ...      Crianca
2            Allison, Mr Hudson Joshua Creighton  ...       Adulto
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)  ...       Adulto
4                  Allison, Master Hudson Trevor  ...      Crianca

[5 rows x 6 columns]

### Seleção de atributos

Excluiremos do DataFrame os atributos *Nome* e *Idade* pois não serão úteis em nossa análises daqui para a frente, mantendo os atributos *Classe*, *Sexo*, *FaixaEtaria* e *Sobreviveu*.

In [ ]:
lista_atributos = ['Idade','Sexo']
df[lista_atributos]

      Idade Sexo
0     29.00    F
1      2.00    F
2     30.00    M
3     25.00    F
4      0.92    M
...     ...  ...
1308  27.00    M
1309  26.00    M
1310  22.00    M
1311  24.00    M
1312  29.00    M

[1313 rows x 2 columns]

In [ ]:
df = df[['Classe', 'Sexo','FaixaEtaria','Sobreviveu']]

In [ ]:
df.head()

   Classe Sexo FaixaEtaria  Sobreviveu
0     1.0    F      Adulto           1
1     1.0    F     Crianca           0
2     1.0    M      Adulto           0
3     1.0    F      Adulto           0
4     1.0    M     Crianca           1

In [ ]:
df.loc[56]

Classe              1
Sexo                F
FaixaEtaria    Adulto
Sobreviveu          1
Name: 56, dtype: object

### Amostrando os conjuntos de Treino e de Teste

A fim de investigar o poder de generalização dos métodos estudados, vamos separar os dados em dois conjuntos:

* **Conjunto de Treino**: Contém 70% dos dados originais e será utilizado no processo de inferência
* **Conjunto de Teste**: Contém 30% dos dados originais e será utilizado

In [ ]:
total = len(df.index)

treino = df.iloc[: int(total * 0.7)]
teste = df.iloc[ int(total * 0.7)+1 :]

In [ ]:
treino.index

RangeIndex(start=0, stop=919, step=1)

In [ ]:
teste.index

RangeIndex(start=920, stop=1313, step=1)

## Matriz de Confusão e Acurácia

A matriz de confução contém os valores:
* $TP$ - Verdadeiros Positivos
* $FP$ - Falsos Positivos
* $TN$ - Verdadeiros Negativos
* $FN$ - Falsos Negativos 

Com esses valores definimos a métrica de Acurácia $A_c \in [0,1]$, tal que:
$$
A_c = \frac{TP + TN}{TP + FP + TN + FN}
$$

In [ ]:
def matriz_confusao(esperados, estimados):
  tp, fp, tn, fn = 0,0,0,0
  for par in zip(esperados, estimados):
    if par[0] and par[1]:
      tp += 1
    elif par[0] and not par[1]:
      fn += 1
    elif not par[0] and not par[1]:
      tn += 1
    elif not par[0] and par[1]:
      fp += 1
  return np.array([tp, fp, tn, fn])


def acuracia(esperados, estimados):
  n = len(esperados)
  tp, fp, tn, fn = matriz_confusao(esperados, estimados)
  return (tp + tn) / n

esperados = [0,0,0,0]
estimados = [1,0,0,1]
acuracia(esperados, estimados)

0.5

## k-Vizinhos Mais Próximos

### Função de Distância

Uma função de distância $d:\mathbb{R}^n,\mathbb{R}^n \rightarrow \mathbb{R}^+$ é uma função que calcula a similaridade de dois vetores $a \in \mathbb{R}^n$ e $b \in \mathbb{R}^n$ através de sua distância no espaço $\mathbb{R}^n$.

No caso de instâncias em que os valores não são reais, mas categóricos, uma função de distância comum é a <a href="https://pt.wikipedia.org/wiki/Dist%C3%A2ncia_de_Hamming">Distância de Hamming</a>. Que pode ser definida como:
$$
d(a,b) = \sum_{i = 0}^n \mathbb{I}(a[i] \neq b[i])
$$ 

Onde $\mathbb{I}($expressão$)\{1$ se expressão for verdadeira e $ 0 $ se for falsa $\}$ é a função indicadora.

Na nossa implementação a Distância de Hamming é normalizada no intervalo $[0,1]$.

In [ ]:
# Função de distância para atributos qualitativos
# A e B são duas variáveis dicionários 

def distancia_hamming(a,b):
  chaves = a.keys()
  
  distancia = sum([a[k] != b[k] for k in chaves])
  
  return distancia / len(chaves)

# Quando A e B são IDÊNTICOS então a distância == 0
# Quando A e B são COMPLETAMENTE diferentes, então a distância == 1
# Quando A e B são PARCIALMENTE diferentes, então a distância está entre 0 e 1


distancia_hamming({'a':1, 'b': 0, 'c': 1}, {'a': 0, 'b': 1, 'c': 0})

1.0

In [ ]:
print('1º Passageiro\n', df.iloc[1])
print('2º Passageiro\n', df.iloc[2])
print('\nDistância:', distancia_hamming( df.iloc[1], df.iloc[2]))

1º Passageiro
 Classe               1
Sexo                 F
FaixaEtaria    Crianca
Sobreviveu           0
Name: 1, dtype: object
2º Passageiro
 Classe              1
Sexo                M
FaixaEtaria    Adulto
Sobreviveu          0
Name: 2, dtype: object

Distância: 0.5

### Função de Mesclagem

In [ ]:
from collections import Counter

Counter([0,1,1,0,0,0,1])

Counter({0: 4, 1: 3})

In [ ]:
from collections import Counter

def mais_frequente(array):
  frequencias = Counter(array)
  return max(frequencias, key=frequencias.get)

mais_frequente([1,0,1,0,0,1,0])

0

### Calculando e ordenando as distâncias

In [ ]:
x = {'Sexo': 'M', 'FaixaEtaria':'Adulto', 'Classe':3.0}

In [ ]:
# Calcular as distâncias
distancias = { indice : distancia_hamming(x, treino.loc[indice]) for indice in treino.index }

distancias

In [ ]:
# Ordenar as distâncias
indices = sorted(distancias, key=distancias.get)

indices

### Selecionando os k vizinhos mais próximos e mesclando os valores

In [ ]:
k = 3

# Selecionar os dados dos k vizinhos mais próximos
vizinhos = treino.loc[ indices[:k] ]
vizinhos

     Classe Sexo FaixaEtaria  Sobreviveu
602     3.0    M      Adulto           0
607     3.0    M      Adulto           1
609     3.0    M      Adulto           1

In [ ]:
y = mais_frequente(vizinhos['Sobreviveu'].values)
y

1

### Código Completo

In [ ]:
def knn(dados, k, x, y, funcao_distancia, funcao_mesclagem):
  # Calcular as distâncias
  distancias = {indice : funcao_distancia(x, dados.loc[indice]) for indice in dados.index }

  # Ordenar as distâncias
  indices = sorted(distancias, key=distancias.get) 

  # Selecionar os dados dos k vizinhos mais próximos
  vizinhos = dados.loc[ indices[:k] ]

  y_estimado = funcao_mesclagem(vizinhos[y].values)

  return y_estimado

In [ ]:
knn(treino, 10, {'Sexo':'F', 'FaixaEtaria': 'Adulto', 'Classe': 1.0}, 'Sobreviveu', 
    distancia_hamming, mais_frequente)

1

### Teste do Modelo

In [ ]:
x = ['Sexo','Classe','FaixaEtaria']
y = 'Sobreviveu'

esperados = []  # valores existentes no conjunto de teste

estimados = []  # gerado pelo knn

for indice in teste.index:

  instancia = teste.loc[indice]

  y_real = instancia[y]

  esperados.append(y_real)

  consulta = {chave : instancia[chave] for chave in x}

  y_estimado = knn(treino, 2, consulta, y, distancia_hamming, mais_frequente)

  estimados.append(y_estimado)

acuracia(esperados, estimados)

0.72264631043257

## Naïve Bayes

Regra de Bayes
$$
P(y|x) = \frac{P(x|y)\cdot P(y)}{P(x)}
$$

Onde:
* $x$ são os valores dos atributos descritivos (ou a evidência)
* $y$ é o valor do atributo alvo (ou a hipótese)
* $P(y|x)$ é a probabilidade à posteriori
* $P(x|y)$ é a verossimilhança
* $P(y)$ é a probabilidade à priori
* $P(x)$ é a probabilidade da evidência

### Probabilidade da Evidência - P(x)

In [ ]:
# Tamanho total do conjunto de dados
n = len(treino.index)

# Atributos descritivos
x = "Sexo == 'M' & Classe == 3"

# Filtra o conjunto de dados a partir dos atributos descritivos
x_dados = treino.query(x)

# Tamanho total do filtro
xn = len(x_dados.index)

# Probabilidade empírica P(x)
px = xn/n

px

0.24156692056583243

### Probabilidade a Priori - P(y)

In [ ]:
# Número de classes do atributo alvo
classes = treino['Sobreviveu'].unique()
classes

array([1, 0])

In [ ]:
#Dicionário que conterá as probabilidades P(y) para cada classe de y
py = {}

for classe in classes:

  # Filtra o conjunto de dados a partir dos atributos alvo
  y_dados = treino.query("Sobreviveu == {}".format(classe))

  # Tamanho do filtro
  yn = len(y_dados.index)

  # Probabilidade à priori da classe y - P(y) 
  py[classe] = yn/n

py

{0: 0.5778019586507073, 1: 0.42219804134929273}

### Verossimilhança - P(x|y) = P(x,y) / P(y)

In [ ]:
#Dicionário que conterá as probabilidades P(x|y) para cada classe de y
pxy = {}

for classe in classes:

  # Filtra o conjunto de dados a partir dos atributos descritivos e do atributo alvo
  xy_dados = treino.query(x + " & Sobreviveu == {}".format(classe))

  #
  xyn = len(xy_dados.index)
  
  #Verossimilhando dos atributos descritivos em relação ao atributo alvo
  pxy[classe] = (xyn/n)/py[classe]

pxy

{0: 0.3615819209039548, 1: 0.07731958762886598}

### Probabilidade a Posteriori - P(y|x) = P(x|y)*P(y) / P(x)

In [ ]:
#Dicionário que conterá as probabilidades P(x|y) para cada classe de y
pyx = {}


for classe in classes:

  # Regra de Bayes: P(y|x) = P(x|y)*P(y) / P(x)
  pyx[classe] = (pxy[classe] * py[classe]) / px
  
pyx

{0: 0.8648648648648649, 1: 0.13513513513513514}

### Máximo à posteriori - MAP

A classificação é decidida pela classe y_i que maximizar a probabilidade à posteriori $P(y_i|x)$

$$
y_{MAP} = \arg\max_{y_i} P(y_i|x)
$$

In [ ]:
max(pyx, key=pyx.get)

0

### Código Completo

In [ ]:
def naive_bayes(dados, x, y):
  n = dados.size
  
  #Probabilidade da evidência - P(x)
  x_dados = dados.query(x)
  xn = x_dados.size
  px = xn/n  

  #Probabilidade À Priori - P(y) [por classe]
  classes = dados[y].unique()
  py = {}
  for classe in classes:
    y_dados = dados.query("{} == {}".format(y, classe))
    yn = y_dados.size
    py[classe] = yn/n

  #Verossimilhança - P(x|y) [por classe]
  pxy = {}
  for classe in classes:
    xy_dados = df.query(x + " & {} == {}".format(y, classe))
    xyn = xy_dados.size
    pxy[classe] = (xyn/n)/py[classe]

  #Probabilidade À Posteriori - P(y|x) [por classe]
  pyx = {}
  for classe in classes:
    pyx[classe] = (pxy[classe] * py[classe]) / px

  return max(pyx, key=pyx.get)

In [ ]:
naive_bayes(treino, "Sexo == 'F' & Classe == 1","Sobreviveu")

1

In [ ]:
naive_bayes(df, "FaixaEtaria == 'Adulto' & Classe == 1","Sobreviveu")

1

### Teste do Modelo

In [ ]:
x = ['Sexo','Classe','FaixaEtaria']
y = 'Sobreviveu'
esperados = []
estimados = []

for indice in teste.index:
  instancia = teste.loc[indice]

  esperados.append(instancia[y])

  tmp = ['{} == \'{}\''.format(chave, instancia[chave]) for chave in x]
  consulta = ' & '.join(tmp)

  y_est = naive_bayes(treino, consulta, y)

  estimados.append(y_est)

acuracia(esperados, estimados)

0.8422391857506362